body {
    background-color: #EBF5FF;
    padding: 30px;
}
p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
}
span {
    margin: 10px;
    font-size: 30px;
}
h3 {
    color: #1259A1;
}


.contains {
    width: 500px;
    margin: 0 auto;
    background: white;
}
.element_title {
    width: 100%; 
}
.title_container_left {
    width: 250px;
    height: 80px;
    float:left;
    background-color: #C7DEF5;
    color: #1259A1;
    cursor: pointer;
}
.title_container_right {
    width: auto;
    height: 80px;
    margin-left: 250px;
    cursor: pointer;
}

.left_title_select {
    border-bottom: 3px solid #CFCFCF;
}
.box_icon_container {
    height: auto;
    padding: 20px;
    display: block; 
    overflow: hidden;
}
.box_container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
.scroll_control {
    display:none;
    height: 200px;
    overflow: scroll;
    overflow-X: hidden;
}
.icon_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.box_container > div,
.slider_container > div{
    box-sizing: border-box;
    text-align: center;
    flex: 0 0 20%;
    margin-top: 12px;
}
.section {
    width: 100%;
    height: auto;
    padding: auto;
}
.box  {
    height: 70px;
    background-color: gray;
    color: white;
    border-radius: 5px; 
}
.icon_box {
    height: 70px;
    background: white;
    color: black;

}
.slider_container{
    overflow: hidden; 
    padding: 30px;
}
.slider_left {
    width: 200px;
    float: left;
}
.slider_right {
    width: 200px;
    margin-left: 230px;
}
.slider_input {
    padding-left: 40px;
    margin-bottom: 15px
}
.border {
    border:2px solid #CFCFCF;
}
.border_left_right {
    border-left: 2px solid #CFCFCF;
    border-right: 2px solid #CFCFCF;
}



