body {
    background-color: #F4EAE7;
    padding: 30px;
}

button {
    background-color: steelblue;
    color: white; 
    margin-top: 15px;
    border-radius: 7px;
    border:1px solid #1E4E80;
    cursor: pointer;
}

.slider_height {
    margin-top: 40px;
}


input {
    background: linear-gradient(to right, #FF7300 0%, #FF7300 40%, #fff 40%, #fff 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 200px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin: 0px 20px;
}

input.slider_height {
    background: linear-gradient(to right, #FF7300 0%, #FF7300 20%, #fff 20%, #fff 100%);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px; 
    border-radius: 50%; 
    background: #FF7300;
    cursor: pointer;
    border: 1px solid #842D0B;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
  width:25px;
  height:25px;
}



